{% extends 'dogs/base.html' %}
{% block content %}
{% for object in object_list %}
{% load my_tags %}

<div class="col-4">
    <div class="card shadow-sm mb-5">
        <img class="card-img-top" src="{{ object.phot|my_media_filter }}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">{{object.name|title}}</p>
            <p class="card-text">{{object.description}}</p>
            <p class="card-text">{{object.owner|default:"Без хозяина"}}</p>
            <div class="card-footer">
                <a class="btn btn-link" href="{% url 'dogs:dog_update' object.pk %}">изменить</a>
                <a class="btn btn-outline-danger float-right" href="{% url 'dogs:dog_delete' object.pk %}">удалить</a>
            </div>

        </div>
    </div>
</div>
{% endfor %}

{% endblock %}